.container-fluid {
  background-color: black;
}
.navbar {
  padding: 0px;
  display: flex;
  justify-content: space-around;
  position: relative;
  
}
.nav-link,
.navbar-brand {
  color: white;
  font-size: 1.6rem;
}
.collapse {
  justify-content: flex-end;
  justify-content: space-around;
}
.navbar-collapse {
  /* justify-content: space-evenly; */
  gap: 30px;
  justify-content: flex-end;
}
.navbar-brand {
  position: absolute;
  left: 200px;
}
.navbar-nav {
    justify-content: space-around;
}
